:root {
  --primary-color: #2563eb;
  --secondary-color: #b3d4eb;
  --text-color: #1e293b;
  --card-bg: linear-gradient(135deg, #f7f8f9, #eaeef1);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", system-ui, sans-serif;
  color: var(--text-color);
  background: linear-gradient(
    to right,
    #d3d6e9 0%,
    #dfdfea 25%,
    #c1ccd6 50%,
    #d3dbe2 75%,
    #dee6ec 100%
  );
  scroll-behavior: smooth;
}
#loader {
  position: fixed;
  inset: 0;
  background: #5e6265;
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid var(--secondary-color);
  border-top-color: var(--primary-color);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  background: rgb(237, 240, 244);
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
}
.navbar-brand {
  font-weight: 700;
  color: var(--primary-color);
}
.nav-link {
  color: var(--text-color);
  font-weight: 500;
  position: relative;
}
.nav-link:hover {
  color: var(--primary-color);
}
.nav-link.active {
  color: var(--primary-color) !important;
  font-weight: 700;
}

.nav-link.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--primary-color);
  left: 0;
  bottom: -4px;
}

section {
  padding: 110px 20px;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
  scroll-margin-top: 130px;
}
section.show {
  opacity: 1;
  transform: translateY(0);
}
.intro {
  min-height: 100vh;
  padding-top: 140px;
  background: linear-gradient(135deg, #e0f2fe, #b3c6d9);
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro-content h1 {
  font-size: 2.8rem;
  font-weight: 700;
}
.intro-content p {
  font-size: 1.2rem;
  margin: 15px 0;
  color: #374151;
}
.intro-content h4 {
  font-size: 1.1rem;
  margin: 10px 0 20px 0;
  color: #0a2750;
  font-weight: 100%;
}
.intro .btn {
  padding: 12px 28px;
  border-radius: 30px;
  font-weight: 600;
  transition: all 0.3s ease;
}
.intro .btn:hover {
  transform: translateY(-3px);
  background-color: linear-gradient(135deg, #e0f2fe, #b3c6d9);
}
/*  About section*/
.about-container {
  max-width: 1000px;
  margin: auto;
  background: var(--card-bg);
  padding: 40px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}
.about h2 {
  margin-bottom: 20px;
  font-weight: 700;
}

/* Skills section */
.skills-container {
  max-width: 1000px;
  margin: auto;
}
.skill-card {
  background: var(--card-bg);
  padding: 22px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.skill-card:hover {
  transform: translateY(-5px);
  background: linear-gradient(135deg, #dadee0, #f2f3f4);
}
/* Projects section */
.project-card {
  height: 100%;
  background: var(--card-bg);
  border-radius: 14px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.project-card:hover {
  transform: translateY(-8px);
  background: linear-gradient(180deg, #fafbfc, #d6d8dc);
}
.project-card .btn {
  border-radius: 30px;
  font-weight: 600;
  transition: all 0.3s ease;
}
.project-card .btn:hover {
  transform: translateY(-3px);
}
/* Contact section */
.contact-container {
  max-width: 1000px;
  margin: auto;
  background: var(--card-bg);
  padding: 40px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  text-align: center;
  background: #e3e5e7;
}
.contact-info {
  list-style: none;
  padding: 0;
}
.contact-info li {
  margin: 10px 0;
}
.contact-info li a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
}
.contact-info li a:hover {
  color: var(--primary-color);
}
footer {
  text-align: center;
  padding: 20px 0;
  background: #e0f2fe;
  color: var(--text-color);
  font-weight: 500;
}
